body{
 background-color: #414141;
 font-family: 'Lato', sans-serif;
}

.clock{
    text-align: right;
    font-size: 3em;

}

#uhr{

    font-size: 80%;
    padding-top: 0.5%;

}
.weather{
    text-align: center;
}


.header{
    border-radius: 10px;
    
}

/*Formatierung des Grid-Containers.
  Festlegung der Schriftfarbe und -größe innerhalb des Containers*/
  .grid-containerUp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 300px 300px;
    gap: 12px 12px;
    grid-template-areas:
      'Headline Headline Headline Headline'
      'Heater Heater Heater Weather-Overview'
      'Blinds Blinds Blinds systemStatus';
    color: aliceblue;
    font-size: 2em;
  }

  /*Formatierung der verschiedenen Grid-Bereiche  */
   .Headline { 
      grid-area: Headline; 
      background-color: #01ACE2; 
      border-radius: 10px;
      padding-top: 14px;
      padding-left: 10px;
    }
    
  
  .Heater { 
      grid-area: Heater; 
      background-color: #01ACE2; 
      border-radius: 10px;
      padding-top: 10px;
      padding-left: 10px;
    }
    .Heater:hover{
      transform: scale(1.0080);
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "heating heating heating heating heating heating heating heating heating heating"
          "tempHeating btnHeating tempBath btnBath tempKitchen btnKitchen tempBed btnBed tempLiving btnLiving"
          "lblCH lblCH lblBath lblBath lblKitchen lblKitchen lblBed lblBed lblLiving lblLiving";
      }
      
      .heating { grid-area: heating; }
      
      .tempHeating { 
              grid-area: tempHeating; 
              font-size: 165%;   
        
        }
      
      .btnHeating { 
          grid-area: btnHeating;
        }
        .buttonChUp{
          width: 0;
          height: 0;
          border-left: 30px solid transparent;
          border-right: 30px solid transparent; 
          border-bottom: 30px solid  #414141;
          
          margin-bottom: 5px;
          cursor: pointer;
          
        }
        .buttonChUp:hover{
          width: 0;
          height: 0;
          border-left: 30px solid transparent;
          border-right: 30px solid transparent; 
          border-bottom: 30px solid  rgb(8, 8, 8);
          margin-bottom: 5px;
          transform: scale(1.08);
          cursor: pointer;
        }
        
        .buttonChDown{
            width: 0;
            height: 0;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent; 
            border-top: 30px solid #414141;
            cursor: pointer;
        }
        .buttonChDown:hover{
          width: 0;
          height: 0;
          border-left: 30px solid transparent;
          border-right: 30px solid transparent; 
          border-top: 30px solid  rgb(8, 8, 8);
          margin-bottom: 5px;
          transform: scale(1.08);
          cursor: pointer;
        }
      .tempBath { 
          grid-area: tempBath; 
          font-size: 165%;
        }
      
      .btnBath { grid-area: btnBath; }

      .buttonBathUp{
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent; 
        border-bottom: 30px solid  #414141;
        margin-bottom: 5px;
        cursor: pointer;
      }
      .buttonBathUp:hover{
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent; 
        border-bottom: 30px solid  rgb(8, 8, 8);
        margin-bottom: 5px;
        transform: scale(1.08);
        cursor: pointer;
      }
      
      .buttonBathDown{
          width: 0;
          height: 0;
          border-left: 30px solid transparent;
          border-right: 30px solid transparent; 
          border-top: 30px solid #414141;
          cursor: pointer;
      }
      .buttonBathDown:hover{
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent; 
        border-top: 30px solid  rgb(8, 8, 8);
        margin-bottom: 5px;
        transform: scale(1.08);
        cursor: pointer;
      }
      
      .tempKitchen { 
          grid-area: tempKitchen; 
          font-size: 165%;
        }
      
      .btnKitchen { grid-area: btnKitchen; }

      .buttonKitchenUp{
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent; 
        border-bottom: 30px solid  #414141;
        margin-bottom: 5px;
        cursor: pointer;
      }
      .buttonKitchenUp:hover{
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent; 
        border-bottom: 30px solid  rgb(8, 8, 8);
        margin-bottom: 5px;
        transform: scale(1.08);
        cursor: pointer;
      }
      .buttonKitchenDown{
          width: 0;
          height: 0;
          border-left: 30px solid transparent;
          border-right: 30px solid transparent; 
          border-top: 30px solid #414141;
          cursor: pointer;
      }
      .buttonKitchenDown:hover{
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent; 
        border-top: 30px solid  rgb(8, 8, 8);
        margin-bottom: 5px;
        transform: scale(1.08);
        cursor: pointer;
      }
      
      .tempBed { 
          grid-area: tempBed; 
          font-size: 165%;
        }
      
      .btnBed { grid-area: btnBed; }

      .buttonBedUp{
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent; 
        border-bottom: 30px solid  #414141;
        margin-bottom: 5px;
        cursor: pointer;
      }
      .buttonBedUp:hover{
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent; 
        border-bottom: 30px solid  rgb(8, 8, 8);
        margin-bottom: 5px;
        transform: scale(1.08);
        cursor: pointer;
      }
      .buttonBedDown{
          width: 0;
          height: 0;
          border-left: 30px solid transparent;
          border-right: 30px solid transparent; 
          border-top: 30px solid #414141;
          cursor: pointer;
      }
      .buttonBedDown:hover{
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent; 
        border-top: 30px solid  rgb(8, 8, 8);
        margin-bottom: 5px;
        transform: scale(1.08);
        cursor: pointer;
      }
      
      .tempLiving { 
          grid-area: tempLiving; 
          font-size: 165%;
        }
      
      .btnLiving { grid-area: btnLiving; }

      .buttonLivingUp{
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent; 
        border-bottom: 30px solid  #414141;
        margin-bottom: 5px;
        cursor: pointer;
      }
      .buttonLivingUp:hover{
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent; 
        border-bottom: 30px solid  rgb(8, 8, 8);
        margin-bottom: 5px;
        transform: scale(1.08);
        cursor: pointer;
      }
      .buttonLivingDown{
          width: 0;
          height: 0;
          border-left: 30px solid transparent;
          border-right: 30px solid transparent; 
          border-top: 30px solid #414141;
          cursor: pointer;
      }
      .buttonLivingDown:hover{
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent; 
        border-top: 30px solid  rgb(8, 8, 8);
        margin-bottom: 5px;
        transform: scale(1.08);
        cursor: pointer;
      }
      
      .lblCH { grid-area: lblCH;
                padding-top: 62px;
                font-size: 70%;
    }
      
      .lblBath { 
          grid-area: lblBath;
          padding-top: 62px;
          font-size: 70%;
    }
      
      .lblKitchen {
          grid-area: lblKitchen;
          padding-top: 62px;
          font-size: 70%;
    }
      
      .lblBed { 
          grid-area: lblBed;
          padding-top: 62px;
          font-size: 70%;
    }
      
      .lblLiving { 
          grid-area: lblLiving;
          padding-top: 62px;
          font-size: 70%;
    }
      
  
    /*Formatierung des Bereichs Current Weather.*/
  .Weather-Overview { 
      grid-area: Weather-Overview; 
      background-color: #01ACE2;
      border-radius: 10px; 
      padding-left: 10px;
      padding-top: 10px;
      display: inline-block;
      text-align: left;
    }
    .Weather-Overview:hover{
      transform: scale(1.0080);
    }

    .Weather-Overview { 
        grid-area: Weather-Overview; 
        background-color: #01ACE2;
        border-radius: 10px; 
        padding-left: 10px;
        padding-top: 10px;
        display: inline-block;
        text-align: left;
      }
      .systemStatus { 
        grid-area: systemStatus; 
        background-color: #01ACE2;
        border-radius: 10px; 
        padding-left: 10px;
        padding-top: 10px;
        display: inline-block;
        text-align: left;
      }
      .systemStatus:hover{
        transform: scale(1.0080);
      }
    /*Positionierung und Größenanpassung des Icons im Bereich Current Weather*/
    .icon{
        
        text-align: center;
        font-size: 500%;
    }
    .status{
        display: table-cell;
        height: 195px;
        width: 600px;
        font-size: 100%;
        vertical-align: middle;
        text-align: center;
    }
    
  
  .Blinds { 
      grid-area: Blinds; 
      background-color: #01ACE2; 
      border-radius: 10px;
      padding-top: 10px;
      padding-left: 10px;
    }
    .Blinds:hover{
      transform: scale(1.0080);
    }

  .sliders{
      width: 100%;
  }

    #sliderBathroom{
      appearance: none;  
      transform: rotate(-90deg); 
      height: 3px;
      width: 55%;
        border-radius: 0.5px;
        background-color: black ;
        opacity: 0.7;
        outline: none;
        }
    #sliderBathroom::-webkit-slider-thumb{
      appearance: none;
      border: 3px solid black;
      width: 20px;
      max-width: 80px;
      height: 20px;
      border-radius: 50%;
      bottom: 11px;
      background-color:#01ACE2;
      opacity: 0.9;
      cursor: -webkit-grab;
      
    }

    

    #sliderKitchen{
      appearance: none;  
      transform: rotate(-90deg); 
      height: 3px;
      width: 55%;
        border-radius: 0.5px;
        background-color: black ;
        opacity: 0.7;
        outline: none;
        }
    #sliderKitchen::-webkit-slider-thumb{
      appearance: none;
      border: 3px solid black;
      width: 20px;
      max-width: 80px;
      height: 20px;
      border-radius: 50%;
      bottom: 11px;
      background-color:#01ACE2;
      opacity: 0.9;
      cursor: -webkit-grab;
    }
    #sliderBedroom{
      appearance: none;  
      transform: rotate(-90deg); 
      height: 3px;
      width: 55%;
        border-radius: 0.5px;
        background-color: black ;
        opacity: 0.7;
        outline: none;
        }
    #sliderBedroom::-webkit-slider-thumb{
      appearance: none;
      border: 3px solid black;
      width: 20px;
      max-width: 80px;
      height: 20px;
      border-radius: 50%;
      bottom: 11px;
      background-color:#01ACE2;
      opacity: 0.9;
      cursor: -webkit-grab;
    }
    #sliderLivingroom{
      appearance: none;  
      transform: rotate(-90deg); 
      height: 3px;
      width: 55%;
        border-radius: 0.5px;
        background-color: black ;
        opacity: 0.7;
        outline: none;
        }
    #sliderLivingroom::-webkit-slider-thumb{
      appearance: none;
      border: 3px solid black;
      width: 20px;
      max-width: 80px;
      height: 20px;
      border-radius: 50%;
      bottom: 11px;
      background-color:#01ACE2;
      opacity: 0.9;
      cursor: -webkit-grab;
    }
  
    .grid-containerDown {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.25fr 0.25fr 1fr 0.25fr;
        gap: 20px 80px;
        grid-template-areas:
          "Blinds Blinds Blinds Blinds"
          "percBath percKitchen percBed percLiving"
          "sliderBath sliderKitchen sliderBed sliderLiving"
          "bathroom kitchen bedroom livingroom";
      }
      
      .Blinds { grid-area: Blinds; }
      
      .bathroom { 
          grid-area: bathroom;
          font-size: 60%;
          padding-left: 75px;
          padding-top: 50px;          
     }
      
      .kitchen { 
          grid-area: kitchen; 
          font-size: 60%;
          padding-left: 88px;
          padding-top: 50px; 
        }
      
      .bedroom { 
          grid-area: bedroom; 
          font-size: 60%;
          padding-left: 80px;
          padding-top: 50px;
        }
      
      .livingroom { 
          grid-area: livingroom; 
          font-size: 60%;
          padding-left: 75px;
          padding-top: 50px;
        }
      
      .sliderBath { 
          grid-area: sliderBath; 
          padding-left: 50px; 
          padding-top: 30px;
        }
      
      .sliderKitchen { 
          grid-area: sliderKitchen; 
          padding-left: 50px; 
          padding-top: 30px;
        }
      
      .sliderBed { 
          grid-area: sliderBed; 
          padding-left: 50px; 
          padding-top: 30px;
        }
      
      .sliderLiving { 
          grid-area: sliderLiving; 
          padding-left: 50px; 
          padding-top: 30px;
        }
      
      .percBath { 
          grid-area: percBath; 
          font-size: 60%;
           padding-left: 97px;
          position: relative;
        }
      
      .percKitchen { 
          grid-area: percKitchen; 
          font-size: 60%;
          padding-left: 97px;
          position: relative;
           
        }
      
      .percBed { 
          grid-area: percBed; 
          font-size: 60%;
          padding-left: 97px;
           
        }
      
      .percLiving { 
          grid-area: percLiving; 
          font-size: 60%;
          padding-left: 97px; 
          
        }
      

#uhr{

   float: right;
   padding-right: 20px;

}



